## Analyze whether SNWD varies more from year to year or from place to place.

In [1]:
import pandas as pd
import numpy as np
import urllib
import math

In [2]:
import findspark
findspark.init()

from pyspark import SparkContext
#sc.stop()
sc = SparkContext(master="local[3]",pyFiles=['lib/numpy_pack.py','lib/spark_PCA.py','lib/computeStats.py'])

from pyspark import SparkContext
from pyspark.sql import *
sqlContext = SQLContext(sc)

In [3]:
import sys
sys.path.append('./lib')

import numpy as np
from numpy_pack import packArray,unpackArray
from spark_PCA import computeCov
from computeStats import computeOverAllDist, STAT_Descriptions

In [4]:
### Read the data frame from pickle file

data_dir='../../Data/Weather'
file_index='SBBBBBBS'
meas='SNWD'

from pickle import load

#read statistics
filename=data_dir+'/STAT_%s.pickle'%file_index
STAT,STAT_Descriptions = load(open(filename,'rb'))
print('keys from STAT=',STAT.keys())

#!ls -ld $data_dir/*.parquet

#read data
filename=data_dir+'/decon_%s_%s.parquet'%(file_index,meas)

df=sqlContext.read.parquet(filename)
print(df.count())
df.show(2)

('keys from STAT=', ['TMIN', 'TOBS', 'TMAX', 'SNOW', 'SNWD', 'PRCP'])
1008
+-----------------+------------------+------------------+---------+--------+--------+---------+-----------+--------------------+--------------------+--------------------+------------------+-----------+-----------+------+--------------------+------+
|          coeff_1|           coeff_2|           coeff_3|elevation|   label|latitude|longitude|measurement|               res_1|               res_2|               res_3|          res_mean|    station|  total_var|undefs|              vector|  year|
+-----------------+------------------+------------------+---------+--------+--------+---------+-----------+--------------------+--------------------+--------------------+------------------+-----------+-----------+------+--------------------+------+
| 5236.56372535678|-524.2927399414921|28.596229640471762|    454.2|SBBBBBBS| 47.2256| -97.1919|       SNWD|0.029431655415476352|0.019702368195064133| 0.01967342470562983|0.5650322126472471|USC00214106|  5.00027E7|     0|[F0 5F 8C 5F 8C 5...|1969.0|
|2811.661474892081|  52.5909171715015| 77.35600565667576|    337.4|SBBBBBBS| 46.4386| -97.6856|       SNWD|0.026579264603718813|0.026238725078030354|0.025501902765776113|0.3872546989532255|USC00325220|2.0971471E7|     1|[C4 5C C4 5C C4 5...|1969.0|
+-----------------+------------------+------------------+---------+--------+--------+---------+-----------+--------------------+--------------------+--------------------+------------------+-----------+-----------+------+--------------------+------+
only showing top 2 rows

In [5]:
print df.columns

['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'label', 'latitude', 'longitude', 'measurement', 'res_1', 'res_2', 'res_3', 'res_mean', 'station', 'total_var', 'undefs', 'vector', 'year']

In [6]:
#extract longitude and latitude for each station
# feature='coeff_1'
sqlContext.registerDataFrameAsTable(df,'weather')
#Features=', '.join(['coeff_1', 'coeff_2', 'coeff_3', 'elevation', 'latitude', 'longitude',\
#          'res_1', 'res_2', 'res_3', 'res_mean', 'year'])

In [10]:
Features='station, year, coeff_1, coeff_2, coeff_3'
Query="SELECT %s FROM weather"%Features
print(Query)
pdf = sqlContext.sql(Query).toPandas()
pdf.head()

SELECT station, year, coeff_1, coeff_2, coeff_3 FROM weather

       station    year      coeff_1     coeff_2      coeff_3
0  USC00214106  1969.0  5236.563725 -524.292740    28.596230
1  USC00325220  1969.0  2811.661475   52.590917    77.356006
2  USC00216276  1969.0  4874.836613 -733.937164 -1845.489009
3  USW00094967  1997.0  5006.399613  487.877121   101.899035
4  USW00094967  1969.0  5372.523317 -338.581848  -961.312053

In [17]:
year_station_table=pdf.pivot(index='year', columns='station', values='coeff_3')
year_station_table.head(10)

station,US1MNCY0001,USC00210018,USC00211891,USC00212142,USC00212916,USC00213104,USC00213206,USC00213463,USC00213587,USC00214106,...,USC00325730,USC00325764,USC00326105,USC00326565,USC00327986,USC00328937,USC00329185,USW00014914,USW00014919,USW00094967
year,,,,,,,,,,,,,,,,,,,,,
1902.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1905.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1907.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Estimating the effect of the year vs the effect of the station

To estimate the effect of time vs. location on the first eigenvector coefficient we
compute:

* The average row: `mean-by-station`
* The average column: `mean-by-year`

We then compute the RMS before and after subtracting either  the row or the column vector.

In [18]:
def RMS(Mat):
    return np.sqrt(np.nanmean(Mat**2))

mean_by_year=np.nanmean(year_station_table,axis=1)
# print mean_by_year
mean_by_station=np.nanmean(year_station_table,axis=0)
# print mean_by_station
tbl_minus_year = (year_station_table.transpose()-mean_by_year).transpose()
tbl_minus_station = year_station_table-mean_by_station

rms1 = RMS(year_station_table)
rms2 = RMS(tbl_minus_station)
rms3 = RMS(tbl_minus_year)

print 'total RMS                   = %.2f' % rms1
print 'RMS removing mean-by-station= %.2f, fraction explained = %.2f' % (rms2, 100.0*(1.0-(rms2/rms1)))
print 'RMS removing mean-by-year   = %.2f, fraction explained = %.2f' % (rms3, 100.0*(1.0-(rms3/rms1)))

total RMS                   = 588.82
RMS removing mean-by-station= 566.24, fraction explained = 3.83
RMS removing mean-by-year   = 408.00, fraction explained = 30.71

In [13]:
T=year_station_table
print 'initial RMS=',RMS(T)
for i in range(5):
    mean_by_year=np.nanmean(T,axis=1)
    T=(T.transpose()-mean_by_year).transpose()
    print i,'after removing mean by year    =',RMS(T)
    mean_by_station=np.nanmean(T,axis=0)
    T=T-mean_by_station
    print i,'after removing mean by stations=',RMS(T)

initial RMS= 631.957294164
0 after removing mean by year    = 329.960575426
0 after removing mean by stations= 310.920358488
1 after removing mean by year    = 309.659157759
1 after removing mean by stations= 309.523374797
2 after removing mean by year    = 309.504389197
2 after removing mean by stations= 309.499416665
3 after removing mean by year    = 309.496335626
3 after removing mean by stations= 309.493603558
4 after removing mean by year    = 309.491011026
4 after removing mean by stations= 309.488525441